scripts/__pycache__
.AndroidStudio*
.GoLand*
.Intelli*
.PhpStorm*
.PyCharm*
.Rider*
.WebStorm*
.android
.arduino*
.atom
.audacity*
.bash_history
.zsh_history
.cache/
.cargo/
.cert/
.chemaxon
.electron
.histfile
.install4j
.java
.lesshst
.bashrc
.Xauthority
*PlayOnLinux*
.fehbg
.npm
.local
.macromedia
.mono
.mozilla
.node-gyp
.node_repl_history
.npm
.nv
.nvidia-settings-rc
.oh-my-zsh
.zcompdump*
.pki
Documents
Downloads
Pictures
*.ovpn
Music
inst
projects
scripts
mnt*
.vscode
.config/Atom/
.config/Code
.config/GIMP
.config/Insomnia
.config/Gnome*
.config/VirtualBox
.config/chromium
.config/Mousepad
.config/Thunar
.config/autorandr
.config/QtProject.conf
.config/Zeal
.config/autorandr
.config/autostart
.config/cava
.config/nvim/plugged
.config/nvim/spell
.config/nvim/.netrwhist
.config/libreoffice
.config/deepin
.config/NuGet
.config/godot
.config/gtk-*
.config/sublime*
.config/inkscape
.config/configstore
.config/unity3d
.config/pulse
.config/user-dirs*
.config/menus
.config/mimeapps.list
.config/thefuck
.config/vlc
.config/qt5ct
.vim
.yarnrc
Arduino
.vsts
.gtkrc-*
.esd_auth
.config/
.ssh
.gnupg
.emacs.d
.themes
.tor-browser
Wal/bg_old
tmp
.python_history
.thumbnails
.templateengine
.ghc
.ncmpcpp
.jssc
.gitconfig
.icons
